:root {
    --prussian-blue: hsla(215, 32%, 25%, 1);

    --viridian: hsla(167, 17%, 48%, 1);
    --baby-powder: hsla(30, 100%, 99%, 1);

    --button-l: 90%;
    --button-darker-l: calc(var(--button-l) * 0.9);
    --button-darker-darker-l: calc(var(--button-l) * 0.9 * 0.9);

    --orange-ch: 86 61;
    --orange: lch(var(--button-l) var(--orange-ch));
    --orange-darker: lch(var(--button-darker-l) var(--orange-ch));
    --orange-darker-darker: lch(var(--button-darker-darker-l) var(--orange-ch));

    --cornflower-ch: 63 280;
    --cornflower: lch(var(--button-l) var(--cornflower-ch));
    --cornflower-darker: lch(var(--button-darker-l) var(--cornflower-ch));
    --cornflower-darker-darker: lch(var(--button-darker-darker-l) var(--cornflower-ch));


    --color: var(--prussian-blue);
    --background-color: var(--baby-powder);

    --button-main-color: var(--color);
    --button-main-background-color: var(--cornflower);
    --button-main-background-color-darker: var(--cornflower-darker);
    --button-main-background-color-darker-darker: var(--cornflower-darker-darker);

    --button-operate-color: var(--color);
    --button-operate-background-color: var(--orange);
    --button-operate-background-color-darker: var(--orange-darker);
    --button-operate-background-color-darker-darker: var(--orange-darker-darker);
}

/* See https://css-tricks.com/international-box-sizing-awareness-day/ */
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    color: var(--color);
    background-color: var(--background-color);
    margin: 8px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*
   TODO: choose color palette:

   https://buttonbuddy.dev/ 
*/

button {
    border: none;
    background-color: transparent;
    color: inherit;
    margin: 0em;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
}

button {
    /* https://lea.verou.me/blog/2021/10/custom-properties-with-defaults/ */
    --_color: var(--button-main-color, var(--color));
    --_background-color: var(--button-main-background-color, black);
    --_background-color-darker: var(--button-main-background-color-darker, black);

    /* https://moderncss.dev/css-button-styling-guide/#display-styles */
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    /* https://moderncss.dev/css-button-styling-guide/#visual-styles */
    background-color: var(--_background-color);
    color: var(--_color);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

    /* https://moderncss.dev/css-button-styling-guide/#text-styles */
    padding: 0.25em 0.75em;
    min-width: 1ch;
    min-height: 44px;

    /* https://moderncss.dev/css-button-styling-guide/#text-styles */
    text-align: center;
    line-height: 1.1;

    /* https://moderncss.dev/css-button-styling-guide/#hover */
    transition: 220ms all ease-in-out;
}

/* https://moderncss.dev/css-button-styling-guide/#font-styles */
/* https://moderncss.dev/css-button-styling-guide/#active */
button:hover,
button:active {
    background-color: var(--_background-color-darker);
}

/* https://moderncss.dev/css-button-styling-guide/#focus */
button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px var(--_background-color-darker);
}

.operate-button {
    --_color: var(--button-operate-color, white);
    --_background-color: var(--button-operate-background-color, black);
    --_background-color-darker: var(--button-operate-background-color-darker, black);
    --_background-color-darker-darker: var(--button-operate-background-color-darker-darker, black);
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 24rem;
    border: #000 1px solid;
    padding: 0.25rem;
    min-width: auto;
    font-size: 3rem;
}

#display {
    flex: 1;
    text-align: right;
    border: #000 1px solid;
    padding: 0.25rem 0.2rem 0rem 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ddd;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.button-row {
    display: flex;
    gap: 0.25rem;
    flex: auto;
}

.button {
    flex: 1;
}