@font-face {
    src: url('./fonts/lcdattphonetimedate.woff') format('woff');
    font-family: 'lcdattphonetimedate';
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 10rem;
    border: #000 1px solid;
    padding: 0.25rem;
}

#display {
    flex: 1;
    text-align: right;
    border: #000 1px solid;
    padding: 0.25rem 0.2rem 0rem 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ddd;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.button-row {
    display: flex;
    gap: 0.25rem;
    flex: 1;
}

.button {
    flex: 1;
}